<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home | Login.com</title>
</head>

<body>
    {{#user}}
    <p>Logged in as:{{.}}</p>
    {{/user}}

    <form action="/" method="post">
        {{#buttonNumbers}}
        <p>This button has been clicked: {{.}} times.</p>
        {{/buttonNumbers}}
        <button type="submit">CLICK ME</button>
    </form>

    <a href="/logout">CLICK HERE TO LOG OUT</a>


</body>

</html>